<!DOCTYPE html>

{% include "NavBar.html.twig" %}

{% block body %}
    <div class="meme">
        <img src="{{ meme.url }}" alt="{{ meme.url }}">
        <p id="url">{{ meme.url }}</p>
        <p>{{ meme.createdAt }}</p>
        <p>{{ meme.useTime }}</p>
        <div class="tag-container">
            {% for tag in meme.tags %}
            <div class="tag">
                <p>{{tag.name}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}